@import 'https://fonts.googleapis.com/css?family=Roboto';
@import 'https://fonts.googleapis.com/css?family=Ubuntu+Condensed';
@import 'https://fonts.googleapis.com/css?family=PT+Sans';
body {font-family: 'PT Sans', verdana, sans-serif}
section, footer {min-width: 915px}

#first {
    height: 650px;
}

#sliderBack {
    width: 100%;
    position: absolute;
    top: 100px;
    /*left: calc(50% - 960px);*/
    height: 650px;
    overflow: hidden;
}

#sliderBack img {
    position: absolute;
    margin-left: calc(50% - 960px);
}

header {
    height: 100px;
    margin: 0 auto;
    max-width: 1920px;
    overflow: hidden;
    /*position: relative;*/
}

header nav {
    background: linear-gradient(#EEDBBC, #fff, #EEDBBC);
    height: 100px;
    /*width: inherit;*/
    min-width: 915px;
    position: relative;
    -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

header nav > ul {
    float: right;
    margin: 0 5% 0 auto;
    padding: 0;
    height: inherit;
}

header nav li  {
    color: rgb(74,83,90);
    height: inherit;
    float: left;
    text-align: center;
    list-style: none;
    padding: 0 2em;
    transition: all 0.2s linear;
}

header nav li#navMark {
    background: #CC5335;
    color: rgb(238, 219, 188);
}

header nav li:hover {
    background: #CC5335;
    color: rgb(238, 219, 188);
}

header nav li > a {
    display: block;
    font: bold 1.4em  'Roboto', verdana, sans-serif;
    text-decoration: none;
    color: inherit;
    margin: 35px 0 0 0;
}

#first article {
    height: 400px;
    width: 915px;
    margin: 0 auto;
    text-align: center;
    color: rgb(238, 219, 188);
}

#first article h1 {
    font: bold 3.6em 'PT Sans', sans-serif;
    position: relative;
    width: 700px;
    top: 230px;
    text-shadow: #888 0 0 20px;
}

#first article p {
    font: 2em 'PT Sans', sans-serif;
    position: relative;
    top: 340px;
    left: 15%;
    width: 700px;
    text-shadow: #888 0 0 10px;
}

#toTop {
    display: none;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 5px solid rgb(74,83,90);
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 100;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    color: rgb(74,83,90);
    line-height: 60px;
    transition: background-color 0.2s, color 2s;
}

#toTop:hover {
    background-color: rgb(74,83,90);
    color: rgb(238, 219, 188);
}





#second {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#second article:nth-of-type(1) {
    background: #FEFBE8;
    text-align: center;
    width: 100%;
    overflow: hidden;
}

#gallery {
    max-width: 900px;
    margin: 100px auto;
    position: relative;
}

#gallery a {
    display: block;
    -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    overflow: hidden;
    position: relative;
}

#gallery a:nth-of-type(4n+1) {
    float: left;
    width: 500px;
    height: 250px;
    background-position: center;
    background-size: cover;
}

#gallery a:nth-of-type(4n+2) {
    float: right;
    width: 370px;
    height: 250px;
    background-position: center;
    background-size: cover;
}

#gallery a:nth-of-type(4n+3) {
    float: left;
    width: 370px;
    height: 250px;
    margin-top: 30px;
    background-position: center;
    background-size: cover;
}

#gallery a:nth-of-type(4n+4) {
    float: right;
    width: 500px;
    height: 250px;
    margin-top: 30px;
    background-position: center;
    background-size: cover;
}

#second article:nth-of-type(2) {
    background: #45709A;
    width: 100%;
    height: 450px;
    text-align: center;
    overflow: hidden;
}

#gallery a .hide {
    background: linear-gradient(180deg, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0.2) 50%);
    height: 200%;
    width: inherit;
    overflow: hidden;
    transition: 0.5s;
    position: absolute;
    top: -100%;
}

#gallery a:hover > .hide {
    top: 0%;
}

#gallery .dark {
    height: 50%;
    width: inherit;
    font-size: 1.2em;
    text-align: justify;
    color: rgb(238, 219, 188);
    overflow: hidden;
}

#gallery a .hide p {
    display: block;
    height: 50%;
    color: rgb(238, 219, 188);
    text-shadow: #333 0 0 1px;
    margin: 15px 25px;
    text-align: justify;
    font-size: 1.2em;
}

#gallery a .hide img {
    height: 50px;
    margin-top: 45px;
}

#gallery a .hide h3 {
    font: bold 1.4em 'Ubuntu Condensed', sans-serif;
    color: rgb(238, 219, 188);
    text-shadow: #555 -3px 3px 2px;
    line-height: 2em;
}

#gallery a .hide strong {
    font-size: 1.1em;
    color: rgb(238, 219, 188);
    text-shadow: #111 0 0 10px;
    text-transform: uppercase;
}

#category {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    top: 90px;
}

#category a {
    float: left;
    width: 25%;
    display: block;
    text-decoration: none;
    position: relative;
}

#category a:nth-of-type(1){left: -3600px}
#category a:nth-of-type(2){left: -1000px}
#category a:nth-of-type(3){left: 1000px}
#category a:nth-of-type(4){left: 3600px}


#category h3 {
    font: bold 1.7em 'Ubuntu Condensed', sans-serif;
    color: #FEFBE8;
    text-align: center;
    line-height: 3em;
    letter-spacing: 1px;
}

#category p {
    margin: 0 0.5em;
    color: #FEFBE8;
    font-family: 'PT Sans', sans-serif;
    font-size: 1em;
}

#category img {
    width: 100px;
    border-radius: 50%;
    transition: all 0.5s;
}

#category img:hover {
    width: 100px;
    background-color: #CC5335;
    transform: rotate3d(0,1,0,180deg);
}











#third {
    background: #FDD866 url(../img/gand.jpg) 50% 0 no-repeat scroll;
    margin: 0 auto;
    width: 100%;
    min-height: 682px;
    max-width: 1920px;
    position: relative;
    -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    overflow: hidden;
    font-family: 'PT Sans', sans-serif;
    padding: 20px 0;
}

#third .note {
    max-width: 900px;
    height: 174px;
    margin: 40px auto;
    position: relative;
    top: 1000px;
}

#third a {
    display: block;
    width: 355px;
    height: 130px;
    border: 2px solid rgb(238, 219, 188);
    color: rgb(238, 219, 188);
    text-decoration: none;
    margin: 0 20px;
    padding: 20px;
    background: rgba(85,85,85,0.5);
    line-height: 1.3em;
    overflow: hidden;
    transition: background 0.5s, color 0.5s;
}

#third a:hover {
    color: #CC5335;
    background: rgb(238, 219, 188);
}

#third a:nth-of-type(2n) {
    float: right;
}

#third a:nth-of-type(2n+1) {
    float: left;
}

#third a h4 {
    font-weight: bold;
    font-size: 1.1em;
}

#third a p {
    text-align: justify;
}

.border {
    width: 50px;
    height: 1em;
    border-bottom: 1px solid rgb(238, 219, 188);
    margin-bottom: 1em;
}






#forty {
    background: rgb(204, 83, 53);
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    position: relative;
    -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    overflow: hidden;
    color: rgb(238, 219, 188);
    font-size: 1.2em;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}

#forty article {
    max-width: 900px;
    margin: 40px auto;
}

#forty article a {
    display: block;
    float: left;
    margin: 20px 43px;
}

#forty article a img {
    height: 180px;
}





/*-------------------стили статей-------------------------------*/

#article{
    background: #FEFBE8;
    overflow: hidden;
}

#block {
    max-width: 915px;
    margin: 50px auto;
    position: relative;
}

#content p {
    margin: 0.5em 0;
    text-align: justify;
    text-indent: 20px;
}

#article img{
    max-width: 100%;
    display: block;
    margin: 20px auto;
}

#article h2 {
    font-size: 1.7em;
    margin: 20px;
}

#article h3 {
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 20px;
}

#block > p {
    font-size: 1.2em;
    margin: 1em 0;
    text-align: justify;
    text-indent: 20px;
}

#article ul {
    list-style: square;
    margin: 10px;
    padding: 5px;
}

/*-------------------- Связь и пр.---------------------------------*/

#contact, #search {
    background: #FEFBE8;
    height: calc(100vh - 250px);
    min-height: 670px;
    overflow: hidden;
    font-size: .9em;
}

#contact > div {
    width: 900px;
    margin: 10px auto;
    text-align: center;
}

iframe {
    margin: 10px 0 0 0;
}

#toadmin {
    background: #FEFBE8;
    text-align: center;
    height: 30px;
}





/*----------------------Ресурсы-----------------------------------*/
#resourses {
    background: #FEFBE8;
    font-size: .9em;
    overflow: hidden;
}

#resourses > div {
    width: 900px;
    margin: 20px auto;
}

#resourses h3{
    font-size: 1.3em;
    text-align: center;
    margin: 10px 0;
}

#resourses table {
    font-size: 1.1em;
    width: 860px;
    color: #555;
    margin: auto;
    border-collapse: collapse;
    background: rgb(238, 219, 188);
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
}

#resourses tr, th, td {
    padding: 10px;
    text-align: center;
}

#resourses tr td:nth-of-type(3) {
    text-align: left;
}

#resourses table, th {
    border: solid 2px #555;
}

#resourses th {
    border-left: none;
    border-right: none;
    background: rgb(204, 83, 53);
    color: #fff4cf;
    font-weight: 600;
}

#resourses tr:nth-of-type(2n) {
    background: #fff4cf;
}





/*-----------------------Поиск-------------------------------------*/
#search > div {
    width: 900px;
    margin: 20px auto;
}

#search li {
    list-style-type: decimal;
}

#search ol > div {
    max-height: 100px;
    overflow: hidden;
}

#search ol > div span {
    margin: 0 1em;
}

#search ol > div i {
    font-weight: bold;
}





footer {
    max-width: 1300px;
    height: 70px;
    margin: 0 auto;
    overflow: hidden;
}


@media (min-width: 1200px) {#first article h1 {left: -120px}}
